@{
    ViewBag.Title = "Home Page";
}

<meta http-equiv="refresh" content="0; URL=./Build/?sort=_created" />
<body style="background-image: url(../../Assets/dirt_block.jpeg); background-repeat:repeat;">
</body>