@model Facebuild.Models.Likes.LikeCreate
@using Facebuild.Services

@{
    ViewBag.Title = "Create";
}

<script>
    const urlSearch = window.location.search;
    const fullIframe = "../../Build/Detail/" + urlSearch;
</script>

<body style="background-image: url(../../Assets/dirt_block.jpeg); background-repeat:repeat;">
    <div style="background-image: url(../../Assets/snow_block.png); color: white; text-align:center;padding:15px; align-content:center; margin:20px; border-radius: 15px; border: 5px solid black;">

        <h2>Create</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                <!--
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    Html.LabelFor(model => model.UserId, htmlAttributes: new { //class = "control-label col-md-2" })
                    <div class="col-md-10">
                        Html.EditorFor(model => model.UserId, new { htmlAttributes = new { //class = "form-control" } })
                        Html.ValidationMessageFor(model => model.UserId, "", new { //class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Html.LabelFor(model => model.BuildId, htmlAttributes: new { //class = "control-label col-md-2" })
                    <div class="col-md-10">
                        Html.EditorFor(model => model.BuildId, new { htmlAttributes = new { //class = "form-control" } })
                        Html.ValidationMessageFor(model => model.BuildId, "", new { //class = "text-danger" })
                    </div>
                </div>-->


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Switch Like Status" class="btn btn-default" />
                    </div>
                </div>
                }
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "../Build")
        </div>
        </div>
</body>